
 <div id="overlay"></div>
    <!-- 加载动画 -->
    <div id="loadingContainer"></div>

     <div id="jsonResult"></div>


         <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Show the result</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" id="modalBody">
                    <!-- 这里将显示 JSON 数据 -->
                </div>
            </div>
        </div>
    </div>

